<sht-dialog class="sht-dialog no-focus-visible middle-md bottom-xs center-xs p-fixed left-0 top-0 h-100 w-100 o-auto zi-9" id="dialogSizeGuide{{ size_guide_dialog_id }}" hidden tabindex="-1">
  <div class="dialog" role="dialog" aria-labelledby="dialogTitle{{ size_guide_dialog_id }}" aria-modal="true">
    <div class="dialog__content d-flex fd-column h-100">
      <div class="dialog__header d-flex between-xs middle-xs p-sticky top-0">
        <h3 class="h5 m-zero" id="dialogTitle{{ size_guide_dialog_id }}">{{ size_guide_heading }}</h3>
        <button type="button" aria-label="{{- "accessibility.close_modal" | t -}}" class="js-dialog-close-btn btn btn-icon btn-plain btn-large">
          {%- render 'icon-close' -%}
        </button>
      </div>
      <div class="dialog__body js-dialog-body">
        {%- if size_guide_block.settings.content_source == 'product-metafield' and size_guide_block.settings.product_metafield_name != blank -%}
          {%- liquid
            assign size_guide_metafield_parts = size_guide_block.settings.product_metafield_name | split: '.'
            assign size_guide_metafield_namespace = size_guide_metafield_parts | first
            assign size_guide_metafield_key = size_guide_metafield_parts | last
            assign size_guide_metafield_value = product.metafields[size_guide_metafield_namespace][size_guide_metafield_key]
          -%}
          <div class="hide-empty rte">
            {%- if size_guide_metafield_value.type == 'page_reference' -%}
              {{ size_guide_metafield_value.value.content }}
            {%- else -%}
              {{ size_guide_metafield_value }}
            {%- endif -%}
          </div>
        {%- elsif size_guide_block.settings.content_source == 'static-page' and size_guide_block.settings.static_page != blank -%}
          <div class="hide-empty rte">
            {{- size_guide_block.settings.static_page.content -}}
          </div>
        {%- endif -%}
      </div>
      <div class="dialog__footer d-none">
        <button type="button" aria-label="{{- "accessibility.close_modal" | t -}}" class="js-dialog-close-btn js-dialog-close-btn--last d-none">{{- "accessibility.close_modal" | t -}}</button>
      </div>
    </div>
  </div>
</sht-dialog>
