{% liquid
  assign classes = classes | append: ' hide-empty'
%}
<div class="card {{ classes }}">
  {%- if settings.social_facebook_link != blank -%}
    <div class="social-icons">
      <p>Facebook</p>
      <a href="{{ settings.social_facebook_link }}" rel="noopener" aria-label="Facebook" target="_blank">Visit</a>
      {% render 'icon-facebook' %}
    </div>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <div class="social-icons">
      <p>Instagram</p>
      <a href="{{ settings.social_instagram_link }}" rel="noopener" aria-label="Instagram" target="_blank">Visit</a>
      {% render 'icon-instagram' %}
    </div>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <div class="social-icons">
      <p>TikTok</p>
      <a href="{{ settings.social_tiktok_link }}" rel="noopener" aria-label="TikTok" target="_blank">Visit</a>
      {% render 'icon-tiktok' %}
    </div>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <div class="social-icons">
      <p>Facebook</p>
      <a href="{{ settings.social_facebook_link }}" rel="noopener" aria-label="Facebook" target="_blank">Visit</a>
      {% render 'icon-facebook' %}
    </div>
  {%- endif -%}
</div>